body {
    background-color: #f7fafc;
  }
  
  .container {
    padding: 0 30px;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: inline-block;
    margin-bottom: 0.5rem;
  }
  
  input {
    display: block;
    width: 100%;
    min-height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  button {
    color: #fff;
    background-color: #FF6CA8;
    border: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    font-weight: 700;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  input:focus,
  button:focus {
    outline: 0;
    border-color: #FF6CA8;
    box-shadow: 0 0 0 0.2rem rgba(155, 89, 182, 0.5);
  }
  
  .invalid-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.85rem;
    color: #dc3545;
  }

  .is-invalid {
    border-color: #dc3545;
  }

  .is-invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  }